logger = log/log
IBClientId = 100
TPIBClientId = 1
OrdIBClientId = 5
IBClientIP = 127.0.0.1
#IBClientPort = 4001
IBClientPort = 7496
SubL2 = [NYM/CLH9, ICE/LCOJ9, CME/ESH9, CME/6EH9, CBT/ZNH9, NYM/GCJ9]
SubL1 = [NYM/CLH9, ICE/LCOJ9, CME/ESH9, CME/6EH9, CME/6JH9, NYM/NGH9, CBT/ZNH9, NYM/GCJ9, CBT/ZCH9, EUX/FDXH9, EUX/STXEH9, CME/6AH9, CME/6CH9, CME/6BH9, CME/6NH9, CBT/ZBH9, CBT/ZFH9, CME/6RH9, CME/6ZH9, CME/6MH9, NYM/HOH9, NYM/RBH9, NYM/SIH9, NYM/HGH9, EUX/FGBXH9, EUX/FGBLH9, EUX/FGBSH9, EUX/FGBMH9, ICE/LFUJ9, ICE/LOUJ9, CBT/ZWH9, CBT/ZSH9, CBT/ZMH9, CBT/ZLH9, CME/HEJ9, CME/LEJ9, NYM/PAH9, ETF/EEM, ETF/EPI, ETF/EWJ, ETF/EWZ, ETF/EZU, ETF/FXI, ETF/GDX, ETF/ITB, ETF/KRE, ETF/QQQ, ETF/RSX, ETF/SPY, ETF/UGAZ, ETF/USO, ETF/VEA, ETF/VXX, ETF/XLE, ETF/XLF, ETF/XLK, ETF/XLU, ETF/XOP, IDX/ATX, IDX/HSI, IDX/N225, IDX/VIX]
SubL1n = [NYM/CLJ9, ICE/LCOK9, NYM/GCM9, NYM/SIK9, NYM/HGK9, CBT/ZCK9, NYM/NGJ9, NYM/HOJ9, NYM/RBJ9, CBT/ZWK9, CBT/ZSK9, CBT/ZMK9, CBT/ZLK9, CME/6EM9, CME/6JM9, CBT/ZNM9, CBT/ZFM9, CBT/ZBM9, CME/6AM9, CME/6CM9, CME/6BM9, CME/6NM9, CME/6RM9, CME/6ZM9, CME/6MM9]
IBVenueID = 1
#all the traders separated in comma
TraderFillQ = manual_trader,trader1
# market data path
BarPath =  /cygdrive/c/zfu/kisco/bar
RepoPath = /cygdrive/c/zfu/kisco/repo
HistPath = /cygdrive/c/zfu/kisco/hist
# backup path 
BackupPath = /cygdrive/e/ib/kisco
BarSec = 1
#Floor
FloorPort = 9024
